.pageCover {
  position: relative;
  display: flex;
  flex: 1;
  height: 20vw;
  background: #004a8d;
  width: 100vw;
  justify-content: flex-end;
}
/* #pageCover img {
    width: 100%;
  } */
.coverTitle {
  position: absolute;
  margin-inline-end: 13%;
  margin-top: 5%;
  /* font-size: 2vw; */
  font-size: calc(12px + 2vw);
  color: #004b8d;
  font-family: "EnSpoilerBold", "Rubik", "Roboto", sans-serif;
}
.pageData {
  position: relative;
  min-height: 500px;
  background-image: url("/img/gal2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: -10.8%;
  padding-top: 15%;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.pageDataIn {
  display: flex;
  flex: 1;
  max-width: 990px;
  flex-direction: column;
}
.pageNavigator {
  display: flex;
  flex: 1;
  max-height: 35px;
  justify-content: left;
  align-items: center;
  margin-top: -5%;
  margin-bottom: 30px;
  color: #828487;
  font-size: 18px;
}
.navlink {
  color: #828487;
  text-decoration: none;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  transition: color 0.3s ease-in-out;
}
.navlink__active,
.navlink:hover {
  color: #004a8d;
}
.navlink__active {
  font-weight: bold;
}
.pageRealData {
  flex: 1;
}
.contentParagraph {
  margin-bottom: 40px;
}
.contentMainTitle h1 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: #004b8d;
  font-family: "FbSpoilerBold", "EnSpoilerBold", "Rubik", "Roboto", sans-serif;
}
.contentText {
  color: black;
  font-size: 20px;
}

/* circles */
.homeCircleContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.homeCircleCenter {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}
.contactCirclesContainer {
  display: flex;
  flex: 1;
}
.contactCirclesItemUL {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
.contactCirclesItem {
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
}
.contactCirclesItemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactCirclesItemIconOut {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: #e3e4e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactCirclesItemIconIn {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #004b8d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactCirclesItemIconClass {
  color: white;
  font-size: 30px;
}
.contactCirclesItemText {
  color: #004b8d;
  font-size: 20px;
  text-align: center;
}
.formAndText {
  margin-top: 30px;
}
.footerContainer_in {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.footerForm {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.footerText {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-inline-start: 10px;
}
.footerTitles,
.footerTitles h1 {
  color: #004b8d;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.footerInfo {
  flex: 3;
}
.footerSocial {
  flex: 1;
}
.footerInfo ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 15px;
}
.footerInfo ul li {
  display: flex;
  flex: 1;
  max-height: 25px;
  align-items: center;
  color: #004b8d;
}
.footerInfo ul li a,
.footerInfoLink {
  color: #004b8d;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  margin-inline-start: 2px;
}
.footerInfo ul li a:hover,
.footerInfoLink:hover {
  opacity: 0.7;
}

.footerSocial ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footerSocial ul li {
  display: inline-block;
  margin-inline-end: 5px;
}
.socialIcons {
  width: 40px;
  height: 40px;
  background: #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  color: white;
  font-size: 25px;
  margin-bottom: 5px;
  transition: opacity 0.3s ease-in-out;
}
.socialIcons:hover {
  opacity: 0.7;
}
/* footer form */
.footerFormRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.footerFormInput {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-inline-end: 20px;
  height: 35px;
}
.footerFormInput input:focus,
.footerFormTextArea textarea:focus {
  outline: none;
}
.footerFormInput label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top right;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #004b8d;
  font-size: 14px;
  line-height: 0;
  /* right: 0; */
}
.footerFormInput label.filled {
  transform: translate(0, 0px) scale(0.9);
}
.footerFormInput:focus-within label {
  transform: translate(0, 0px) scale(0.9);
  color: #004b8d;
}
.footerFormInput input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a7a7a7;
  color: #004b8d;
  font-size: 14px;
  padding: 0;
}

.footerFormTextAreaTitle {
  color: #004b8d;
  font-size: 15px;
  margin-bottom: 5px;
}
.footerFormTextArea {
  padding-inline-end: 23px;
}
.footerFormTextArea textarea {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 90px;
  border: 1px solid #a7a7a7;
}
.formSubscription {
  display: flex;
  flex: 3;
  align-items: center;
  color: #004b8d;
  font-size: 14px;
}
.formSubmit {
  flex: 1;
  padding-inline-end: 20px;
}
.formSubmit button {
  display: flex;
  background: #004b8d;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footerFormInput input::-webkit-input-placeholder,
.footerFormInput textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #004b8d;
}
.footerFormInput input::-moz-placeholder,
.footerFormInput textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #004b8d;
}
.footerFormInput input:-ms-input-placeholder,
.footerFormInput textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #004b8d;
}
.footerFormInput input:-moz-placeholder,
.footerFormInput textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #004b8d;
}
.contactMap {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.contactMapTitle {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.contactMapFrame {
  border: 0;
  width: 100%;
  height: 630px;
}
/*table*/
.tableContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableContainer table {
  width: 100%;
}

.tableContainer th {
  border-bottom: 2px solid #a7a7a7;
}
.tableContainer table .spacing {
  border-bottom: 1px solid #a7a7a7;
}
.tableTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tableContainer td {
  text-align: center;
}
.tableContainer td div {
  width: 100%;
}
.qtyContainer {
  display: flex;
  direction: rtl;
}
.qtyInput input {
  width: 100%;
  min-width: 30px;
  height: 30px;
  border: 1px solid #a7a7a7;
  text-align: center;
  background-color: #eeeeee;
}
/* Chrome, Safari, Edge, Opera */
.qtyInput input::-webkit-outer-spin-button,
.qtyInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.qtyInput input[type="number"] {
  -moz-appearance: textfield;
}
.qtyBtn button {
  border: 0;
  width: 20px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .contactMapFrame {
    height: 300px;
  }
  .contactCirclesItemText {
    font-size: 18px;
  }
  .contactCirclesItem {
    margin: 10px auto;
  }
}
/* Small screen devices (600px and above) */
@media only screen and (min-width: 1630px) {
}
/* Medium screen devices (768px and above) */
@media only screen and (max-width: 1629px) {
}
/* Big screen devices2 (930px and above) */
@media only screen and (min-width: 930px) {
}
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
}
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
}
/* common mikha */
@media only screen and (max-width: 991px) {
  .pageDataIn {
    flex-direction: column;
    padding: 5px;
  }
  .pageNavigator {
    margin-top: 0;
  }
  .homeCircleItem {
    margin-bottom: 20px;
  }
  .footerContainer_in {
    flex-direction: column;
  }
  /* .footerFormInput,
  .formSubmit,
  .footerFormTextArea,
  .footerFormTextAreaTitle,
  .formSubscription {
    padding: 10px;
  } */
  /* .footerInfo {
    display: none;
  } */
}

/* Small screen devices (992px and above) */
@media only screen and (min-width: 992px) {
  .footerForm {
    border-inline-end: 1px solid #a7a7a7;
    flex: 2;
    padding-inline-end: 30px;
  }
}
