.pageCover {
  position: relative;
  display: flex;
  flex: 1;
  height: 12.6vw;
  background: #004a8d;
  width: 100vw;
  justify-content: flex-end;
}
/* .pageCover img {
  width: 100%;
  height: 100%;
  max-height: 300px;
} */
.pageData {
  position: relative;
  min-height: 200px;
  background-image: url("/img/gal2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: -12.8%;
  padding-top: 15%;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}
.pageDataInContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1110px;
}
.courseInfoContainer {
  display: flex;
}
.courseInfoTitle {
  display: flex;
  flex: 3;
}
.contentMainTitle_copy {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contentMainTitle_copy h1 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: #004b8d;
  font-family: "FbSpoilerBold", "EnSpoilerBold", "Rubik", "Roboto", sans-serif;
}
.titleIconContainer {
  background-image: url("/img/nonhovericon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 115px;
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline-end: 0.4vw;
}
.titleIcon {
  color: #004b8d;
  font-size: 30px;
}
.courseInfoNav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.navDataDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 278px;
}
.pageDataIn {
  display: flex;
  flex: 1;
  max-width: 1360px;
  flex-wrap: wrap;
  align-items: stretch;
  /* background-color: red; */
}
.productsContainer {
  flex: 4;
}
.filterContainer {
  position: relative;
  flex: 2;
  display: flex;
  padding-top: 65px;
  align-items: stretch;
  flex-wrap: wrap;
}
.filterContainerIn {
  display: flex;
  flex-direction: column;
  border-inline-start: 2px solid #c6cace;
  margin-inline-start: -2px;
  border-bottom: 2px solid #c6cace;
  border-radius: 0 0 20px 0;
  flex: 1;
  padding: 5px;
  padding-bottom: 30px;
  align-items: center;
}
.filterCircle {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.filterCircleIn {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #c6cace;
  margin-bottom: -8px;
}
.productsHeader {
  /* background-color: blue; */
  display: flex;
  min-height: 45px;
}
.productsHeaderDead {
  flex: 1;
  border-bottom: 2px solid white;
  margin-bottom: -2px;
}
.productsHeaderActive {
  flex: 1;
  display: flex;
  /* border-bottom: 1px solid #c6cace; */
}
.productsHeaderActiveTitle {
  flex: 1;
  display: flex;
  align-items: center;
  color: #004b8d;
}
.productsHeaderActiveTitle h1,
.productsHeaderActiveTitle h2 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}
.productsHeaderActiveNav {
  flex: 3;
  display: flex;
  align-items: center;
}
.pageNavigator {
  display: flex;
  flex: 1;
  max-height: 35px;
  justify-content: flex-end;
  align-items: center;
  color: #828487;
  font-size: 18px;
}
.navlink {
  color: #828487;
  text-decoration: none;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  transition: color 0.3s ease-in-out;
}
.navlink__active,
.navlink:hover {
  color: #004a8d;
}
.navlink__active {
  font-weight: bold;
}
/* .productsList {
  background-color: green; 
} */
.productsList {
  padding-bottom: 20px;
}
.productsListIn {
  border-radius: 20px 0 0 0;
  border-inline-end: 2px solid #c6cace;
  border-top: 2px solid #c6cace;
  padding-top: 20px;
}
.productsListUl {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* background-color: orange; */
  padding: 0;
  padding-inline-end: 20px;
  align-items: stretch;
  color: #004b8d;
  font-size: 20px;
  font-weight: bold;
}
/* .productsListUl li {
  list-style: none;
  flex: 0 0 33.333333%;
  padding-inline-end: 20px;
  margin-bottom: 20px;
} */
.productItemContainer {
  min-height: 338px;
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, #fff, #a3a9ae);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 50px 0;
  /* transition: background-color 1s; */
}
.productItemContainer::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #fff, #899ec2);
  position: absolute;
  z-index: -1;
  opacity: 0;
  border-radius: 0 0 50px 0;
  transition: opacity 0.4s ease-in-out;
}
.productItemTextFull {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 50px 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.productItemTextFullIn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productItemContainer:hover .productItemText {
  display: none;
}
.productItemContainer:hover .productItemTextFull {
  display: flex;
}
.productItemContainer:hover::after {
  opacity: 1;
}
.productItemImg {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url("/img/inintransparent.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
.productItemText,
.productItemText2 {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #004b8d;
  font-family: "FbSpoilerBold", "EnSpoilerBold", "Rubik", "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  /* background-color: green; */
  line-height: 1;
}
.productItemText2_desc {
  color: black;
  font-size: 16px;
  font-family: "FbSpoiler", "EnSpoiler", "Rubik", "Roboto", sans-serif;
}
.filterImg {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
}
.filterItemsContainer {
  display: flex;
  flex-direction: column;
  flex: 5;
  width: 100%;
  max-width: 278px;
}
.filterItemCat {
  display: flex;
  flex-direction: column;
}
.filterItemTitle {
  display: flex;
  color: #004b8d;
  font-size: 18px;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #004b8d;
  margin-bottom: 10px;
}
.filterItemInput {
  display: flex;
  color: black;
  font-size: 14px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
}
.filterItemInputLabel {
  margin-inline-start: 5px;
}
/*real left side*/
.realLeftSide {
  margin-top: -25px;
  display: flex;
  flex-direction: column;
}
.realLeftSide_greyTitle {
  background-color: #d3d9de;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #004b8d;
  font-size: 25px;
  font-weight: bold;
}
.realLeftSide_lines {
  min-height: 53px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d3d9de;
  color: #004b8d;
  font-size: 22px;
}
.realLeftSide_lines_a {
  display: flex;
  flex: 2;
}
.realLeftSide_lines_a_error {
  color: red;
}
.realLeftSide_lines_a_item {
  font-size: 18px;
}
.realLeftSide_lines_b {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.realLeftSide_lines_b_iconContainer {
  width: 30px;
  height: 30px;
  background-color: #d3d9de;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.realLeftSide_lines_b_iconCover {
  width: 27px;
  height: 27px;
  background-color: #004b8d;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.realLeftSide_lines_b_icon {
  font-size: 14px;
  color: white;
}
.realLeftSide_blueTitle {
  background-color: #004b8d;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 23px;
  font-weight: bold;
  line-height: 23px;
  margin-bottom: 10px;
}
.realLeftSide_form_input {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 53px;
}
.realLeftSide_form_input_opp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #d3d9de;
  border-radius: 20px;
  cursor: pointer;
}
.realLeftSide_form_input_opp_number input {
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px !important;
}
.realLeftSide_form_input_opp_in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: #004b8d;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
.realLeftSide_form_input input {
  width: 50px;
  border: 0;
  color: #004b8d;
  height: 30px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.realLeftSide_form_input input::-webkit-outer-spin-button,
.realLeftSide_form_input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.realLeftSide_form_input input[type="number"] {
  -moz-appearance: textfield;
}
.realLeftSide_form_button {
  display: flex;
  justify-content: center;
}
.realLeftSide_form_button button {
  width: 100%;
  height: 50px;
  background-color: #004b8d;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  border-radius: 0 0 20px 20px;
}
.productContentLine {
  min-height: 100px;
  border-bottom: 2px solid #d3d9de;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.productsList .productContentLine:last-child {
  border: 0;
}
.productContentLine h1 {
  font-weight: bold;
  font-size: 30px;
  text-align: end;
}
.productContentLine h2 {
  font-weight: bold;
  font-size: 25px;
}
.productContentLine_a {
  display: flex;
  flex: 1;
}
.downloadLink {
  color: #004b8d;
  text-decoration: underline;
}
.productContentLine_b {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  font-weight: normal;
  font-size: 25px;
  text-align: end;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .productsHeaderActiveTitle h1,
  .productsHeaderActiveTitle h2 {
    font-size: 20px;
  }
  .productsListUl li {
    flex: 100%;
  }
  .contentMainTitle_copy h1 {
    font-size: 25px;
  }
}
/* Small screen devices (600px and above) */
@media only screen and (min-width: 1630px) {
}
/* Medium screen devices (768px and above) */
@media only screen and (max-width: 1629px) {
}
/* Big screen devices2 (930px and above) */
@media only screen and (min-width: 930px) {
}
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
}
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
}
/* common mikha */
@media only screen and (max-width: 991px) {
  .pageDataIn {
    flex-direction: column;
    padding: 5px;
  }
  .productsListUl {
    padding: 0;
  }
  .productsListIn {
    border: 0;
  }
  .productsHeaderActive {
    border-bottom: 2px solid #c6cace;
  }
  .filterContainer {
    padding-top: 0px;
  }
  .filterContainerIn {
    border-radius: 0;
    border-inline-start: 0;
  }
  .courseInfoContainer {
    flex-direction: column;
  }
  .courseInfoTitle1 {
    display: none;
  }
  .courseInfoTitle2 {
    margin-top: 10px;
  }
  .courseInfoNav {
    justify-content: flex-end;
  }
  .filterItemsContainer {
    max-width: 100%;
  }
}

/* Small screen devices (992px and above) */
@media only screen and (min-width: 992px) {
  .courseInfoTitle2 {
    display: none;
  }
}
